/* Surigao, isabela, tuguegarao capiz into roxas */

.img {
    width: 100%;
    height: auto;
    margin: 3em 0;
}

.location-icon {
    position: absolute;
    z-index: 8;
}

.fa-location-dot,
.fa-circle-dot {
    cursor: pointer;
}

.location-name {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9;
}

.location-name-text-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.location-name-text-bottom {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.custom-tooltip {
    --bs-tooltip-bg: white;
    --bs-tooltip-color: black;
    --bs-tooltip-opacity: 1;
    border-radius: 5px;
}

/* Luzon */
.pangasinan {
    top: 23.5%;
    left: 37.5%;
}

.tarlac {
    top: 26.5%;
    left: 39.5%;
}

.pampanga {
    top: 28.5%;
    left: 39.5%;
}

.bulacan {
    top: 29.5%;
    left: 41.5%;
}

.bicol {
    top: 37%;
    left: 60%;
}

.bataan {
    top: 31%;
    left: 39%;
}

.batangas {
    top: 36.5%;
    left: 43.4%;
}

.lucena {
    top: 35%;
    left: 47.5%;
}

.mindoro {
    top: 41.5%;
    left: 44%;
}

.palawan {
    top: 59.5%;
    left: 26%;
}

.palawan {
    top: 57.5%;
    left: 26%;
}

.ilocos {
    top: 18.5%;
    left: 39.3%;
}

.baguio {
    top: 20.5%;
    left: 40.5%;
}

.cavite {
    top: 34%;
    left: 42%;
}

.laguna {
    top: 33.5%;
    left: 45.5%;
}

.ncr {
    top: 31.5%;
    left: 43.5%;
}

/* Visayas */
.bacolod {
    top: 54%;
    left: 57.2%;
}

.cebu {
    top: 56%;
    left: 64%;
}

.roxas {
    top: 50%;
    left: 55%;
}

.iloilo {
    top: 53.6%;
    left: 54.3%;
}

.tacloban {
    top: 50.5%;
    left: 72%;
}

/* Mindanao */
.cagayandeoro {
    top: 66.3%;
    left: 69%;
}

.davao {
    top: 73.5%;
    left: 76%;
}

.cotabato {
    top: 73.3%;
    left: 66.2%;
}

.dipolog {
    top: 68.3%;
    left: 60%;
}

.zamboanga {
    top: 74.3%;
    left: 51%;
}

.generalsantos {
    top: 79%;
    left: 72.8%;
}

/* sm */
@media (min-width: 576px) {
    .generalsantos {
        top: 81%;
        left: 73.8%;
    }

    .cagayandeoro {
        top: 66%;
        left: 69.8%;
    }

    .zamboanga {
        top: 73.3%;
        left: 51%;
    }

    .cebu {
        top: 55%;
        left: 64%;
    }

    .iloilo {
        top: 53.2%;
        left: 54.2%;
    }
}

/* md */
@media (min-width: 768px) {
    .iloilo {
        top: 54.2%;
        left: 54.5%;
    }

    .bacolod {
        top: 54.5%;
        left: 57.8%;
    }

    .cebu {
        top: 56.4%;
        left: 64.7%;
    }

    .cagayandeoro {
        top: 67.5%;
        left: 69.8%;
    }

    .palawan {
        top: 60%;
        left: 26%;
    }

    .lucena {
        top: 35.3%;
        left: 48%;
    }

    .generalsantos {
        top: 81%;
        left: 73.3%;
    }

    .davao {
        top: 75%;
        left: 77%;
    }

    .dipolog {
        top: 68.1%;
        left: 61%;
    }

    .zamboanga {
        top: 75.3%;
        left: 51.3%;
    }

    .tacloban {
        top: 51.2%;
        left: 72.7%;
    }
}

/* lg */
@media (min-width: 992px) {
    .batangas {
        top: 36.7%;
        left: 43.8%;
    }

    .iloilo {
        top: 55%;
        left: 54.8%;
    }

    .bacolod {
        top: 55.5%;
        left: 58%;
    }

    .cebu {
        top: 57.1%;
        left: 65.3%;
    }

    .tacloban {
        top: 52.2%;
        left: 73.3%;
    }

    .zamboanga {
        top: 76.8%;
        left: 51.7%;
    }

    .cagayandeoro {
        top: 68.5%;
        left: 70.4%;
    }

    .generalsantos {
        top: 82.5%;
        left: 73.9%;
    }

    .davao {
        top: 76.5%;
        left: 77.7%;
    }

    .dipolog {
        top: 68.1%;
        left: 60.5%;
    }

    .roxas {
        top: 51%;
        left: 55%;
    }
}

/* xl */
@media (min-width: 1200px) {
    .iloilo {
        top: 55.3%;
        left: 55%;
    }

    .bacolod {
        top: 55.5%;
        left: 58.5%;
    }

    .cagayandeoro {
        top: 69.6%;
        left: 70.4%;
    }

    .generalsantos {
        top: 83.2%;
        left: 74.3%;
    }

    .davao {
        top: 77%;
        left: 78%;
    }

    .dipolog {
        top: 69.3%;
        left: 60.9%;
    }
}

/* xxl */
@media (min-width: 1400px) {
    .zamboanga {
        top: 77.8%;
        left: 51.7%;
    }

    .iloilo {
        top: 55.6%;
        left: 55.3%;
    }
}

.luzviminda {
    position: absolute;
    margin: 0;
}

.luzviminda-luzon {
    cursor: pointer;
    top: 41.6%;
    left: 9.3%;
}

.luzviminda-visayas {
    cursor: pointer;
    top: 30.8%;
    left: 62.7%;
}

.luzviminda-mindanao {
    cursor: pointer;
    top: 86.6%;
    left: 27.3%;
}

@media (min-height: 576px) {
    .luzviminda-visayas {
        top: 41.8%;
        left: 69.7%;
    }
}

@media (min-height: 1400px) {
    .luzviminda-visayas {
        top: 43%;
        left: 80%;
    }
}