::-webkit-scrollbar {
	width: 10px;
	/* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
	background: #888;
	/* Scroll thumb color */
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	/* Track color */
}

::-moz-scrollbar {
	width: 10px;
	/* Adjust the width as needed */
}

::-moz-scrollbar-thumb {
	background: #888;
	/* Scroll thumb color */
	border-radius: 5px;
}

::-moz-scrollbar-track {
	background: #f1f1f1;
	/* Track color */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 0;
	word-wrap: break-word;
}
/* Reset margin and specify base font */
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75%; /* Adjust the font size if needed */
    overflow-x: hidden;
    color: #fff;
}